.aboutTopDiv {
    background-color: green;
    width: 100vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .aboutTopDivMainText{
    font-family: 'SanFranciscoRounded-Semibold ';
    font-size: 40px;
  }
  .aboutTopDivCompanyName{
    font-family: 'SanFranciscoDisplay-Regular ', cursive;
    font-size: 32px;
  }
  .horizontal-line {
    width: 100%;
    border-top: 3px solid #82B77D;
    box-shadow: 0 1px 2px 1px #82B77D;
  }
  
  .centered-content {
    text-align: center;
    margin: 20px;
    color: white;
  }
  .aboutMiddleDiv{
    background-color: black;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .aboutBottomDiv{
    background-color: black;
    height: 57vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .aboutBottomHalf{
    height: 100vh;
    background-color: black;
  }
  .date{
    font-family: fantasy;
  }
  