.aboutTopDiv {
    background-color: green;
    width: 100vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .aboutTopDivMainText{
    font-family: 'SanFranciscoRounded-Semibold ';
  }
  .aboutTopDivCompanyName{
    font-family: 'SanFranciscoDisplay-Regular ', cursive;
  }
  
  .centered-content {
    text-align: center;
    margin: 20px;
    color: white;
  }
  .aboutMiddleDiv{
    background-color: black;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .aboutBottomDiv{
    background-color: black;
    height: 57vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .aboutBottomHalf{
    height: 100vh;
    background-color: black;
  }
  